.content_box {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  width: 78.3%;
}

.main_box {
  width: 65.6%;
  min-width: 500px;
  order: 1;

  border: 1px solid black;
  margin-right: 30px;
}
.friend_recommend {
  width: 293px;
  height: auto;
  /* 
  의문
  왜 height에 값을 주면 오히려 줄어드는 걸까??
  예) height를 100%하면 글자높이만큼 줄어든다.
  -> 높이를 자식 요소에 따르는게 아닌가?
   */
  min-width: 293px;
  order: 2;
  border: 1px solid black;
  z-index: 1;
}
